<% include header %>

    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/gumtara.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">About Us</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us<i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

		<section class="ftco-counter ftco-section ftco-no-pt ftco-no-pb img" id="section-counter">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 d-flex">
    				<div class="img d-flex align-self-stretch" style="background-image:url(images/chota-mahadev.jpg);"></div>
    			</div>
    			<div class="col-md-6 pl-md-5 py-5">
    				<div class="row justify-content-start pb-3">
		          <div class="col-md-12 heading-section ftco-animate">
		            <h2 class="mb-4"><span>About Stories</span></h2>
		            <p>This about Stories</p>
		          </div>
		        </div>
		    		<div class="row">
		          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center py-5 bg-light mb-4">
		              <div class="text">
		                <strong class="number" data-number="30">0</strong>
		                <span>Number of hotel</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center py-5 bg-light mb-4">
		              <div class="text">
		                <strong class="number" data-number="200">0</strong>
		                <span>Foods</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center py-5 bg-light mb-4">
		              <div class="text">
		                <strong class="number" data-number="10">0</strong>
		                <span>Big Temples</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center py-5 bg-light mb-4">
		              <div class="text">
		                <strong class="number" data-number="40">0</strong>
		                <span>Place for wonders</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>

	
<section class="ftco-section ftco-no-pt">
	<div class="container">
		<div class="row">
				
			<div class="col-lg-3">
				<div class="sidebar-wrap">
					<div class="sidebar-box p-4 about text-center ftco-animate">
						<h2 class="heading mb-4">About Me</h2>
						<img src="images/author.jpg" class="img-fluid" alt="Colorlib Template">
						<div class="text pt-4">
							<p>Hi! My name is <strong>Cathy Deon</strong>, behind the word mountains, far from the
								countries Vokalia and Consonantia, there live the blind texts. Separated they live in
								Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
						</div>
					</div>
					
				</div>
			</div>
				
			<div class="col-lg-3">
				<div class="sidebar-wrap">
					<div class="sidebar-box p-4 about text-center ftco-animate">
						<h2 class="heading mb-4">About Me</h2>
						<img src="images/author.jpg" class="img-fluid" alt="Colorlib Template">
						<div class="text pt-4">
							<p>Hi! My name is <strong>Cathy Deon</strong>, behind the word mountains, far from the
								countries Vokalia and Consonantia, there live the blind texts. Separated they live in
								Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
						</div>
					</div>
					
				</div>
			</div>
				
			<div class="col-lg-3">
				<div class="sidebar-wrap">
					<div class="sidebar-box p-4 about text-center ftco-animate">
						<h2 class="heading mb-4">About Me</h2>
						<img src="images/author.jpg" class="img-fluid" alt="Colorlib Template">
						<div class="text pt-4">
							<p>Hi! My name is <strong>Cathy Deon</strong>, behind the word mountains, far from the
								countries Vokalia and Consonantia, there live the blind texts. Separated they live in
								Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
						</div>
					</div>
					
				</div>
			</div>
				
			<div class="col-lg-3">
				<div class="sidebar-wrap">
					<div class="sidebar-box p-4 about text-center ftco-animate">
						<h2 class="heading mb-4">About Me</h2>
						<img src="images/author.jpg" class="img-fluid" alt="Colorlib Template">
						<div class="text pt-4">
							<p>Hi! My name is <strong>Cathy Deon</strong>, behind the word mountains, far from the
								countries Vokalia and Consonantia, there live the blind texts. Separated they live in
								Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>


    <section class="ftco-subscribe ftco-section bg-light">
      <div class="overlay">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-8 text-wrap text-center heading-section ftco-animate">
              <h2 class="mb-4"><span>Subcribe to our Newsletter</span></h2>
              <div class="row d-flex justify-content-center mt-4 mb-4">
                <div class="col-md-8">
                  <form action="#"  class="subscribe-form">
                    <div class="form-group d-flex">
                      <input type="email" name="eamil-subscribe" class="form-control" placeholder="Enter email address">
                      <input type="submit" name="email" value="Subscribe" class="submit px-3">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<% include footer %>